.game {
    width: 312px;
    height: 355px;
    background-color: white;
    margin: auto;
    text-align: center;
    font-family: Segoe UI;
    border: 2px solid green ;
    font-weight: 500;
}
span {
    color: yellow;
}
.title {
    background-color: green;
    padding: 5px 0;
    margin: 5px 0;
    text-align: center;
}
.square {
    width: 100px;
    height: 100px;
    background: red;
    float: left;
    box-sizing: border-box ;
    padding: 0px;
    margin: 2px;
    font-size: 85px;
    color: white;
}
.square:hover{ 
    background: black;
    cursor: pointer;
}
